In [1]:
import requests
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
r = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/search?q=sunflowers')
res = r.json()
obj_id_list = res['objectIDs']

for i in obj_id_list:
    if i==436524:
        print(i)
    elif i==20149:
        print(i)
    elif i==16822570:
        print(i)
    elif i==2032:
        print(i)
    elif i==437329:
        print(i)

436524
437329
2032

In [23]:
df = pd.DataFrame()

In [24]:

for i in obj_id_list:
        r_test = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/'+str(i))
        obj_test = r_test.json()
        
        try:
            df = df.append({'objectID': obj_test["objectID"],
                       'title': obj_test["title"],
                       'artistDisplayName': obj_test["artistDisplayName"],
                       'department': obj_test["department"],
                       'objectBeginDate': obj_test["objectBeginDate"],
                       'objectEndDate': obj_test["objectEndDate"],
                       'period': obj_test["period"],
                       'objectName': obj_test["objectName"],
                       'culture': obj_test["culture"]}, ignore_index=True)
        except:    
            continue
df

,artistDisplayName,culture,department,objectBeginDate,objectEndDate,objectID,objectName,period,title
0,Vincent van Gogh,,European Paintings,1887.0,1887.0,436524.0,Painting,,Sunflowers
1,Edward McKnight Kauffer,,Modern and Contemporary Art,1921.0,1921.0,484935.0,Painting,,Sunflowers
2,Claude Monet,,European Paintings,1881.0,1881.0,437112.0,Painting,,Bouquet of Sunflowers
3,Rozenburg Plateelfabriek,,European Sculpture and Decorative Arts,1896.0,1896.0,210191.0,Vase,,Vase with sunflowers
4,Lily Converse,,Drawings and Prints,1941.0,1941.0,431264.0,Print,,Sunflowers
...,...,...,...,...,...,...,...,...,...
85,Vincent van Gogh,,European Paintings,1889.0,1889.0,437980.0,Painting,,Cypresses
86,Currier & Ives,,Drawings and Prints,1882.0,1882.0,396836.0,Print,,The Aesthetic Craze
87,Arthur Boyd Houghton,,Drawings and Prints,1865.0,1874.0,834765.0,Print,,"A Child's Garden, from ""Picture Poesies"""
88,Arthur Boyd Houghton,,Drawings and Prints,1866.0,1874.0,834580.0,Print,,"A Life in a Year–The Garden–Noon, from ""Pictur..."
89,Arthur Boyd Houghton,,Drawings and Prints,1866.0,1874.0,834585.0,Print,,"A Life in a Year–The Garden–Noon, from ""Pictur..."

In [25]:
df.query('culture == "Japan"')\
    .groupby('culture')\
    .agg({'objectID' : 'count'})

         objectID
culture
Japan           1

In [38]:
r = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/search?departmentId=6&q=cat')
cats = r.json()
cat_ids = cats['objectIDs']
new_cat_ids = cat_ids[:1000]
df_2 = pd.DataFrame()
for i in new_cat_ids:
        r_test = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/'+str(i))
        obj_test = r_test.json()
        
        try:
            df_2 = df_2.append({'objectID': obj_test["objectID"],
                       'title': obj_test["title"],
                       'artistDisplayName': obj_test["artistDisplayName"],
                       'department': obj_test["department"],
                       'objectBeginDate': obj_test["objectBeginDate"],
                       'objectEndDate': obj_test["objectEndDate"],
                       'period': obj_test["period"],
                       'objectName': obj_test["objectName"],
                       'culture': obj_test["culture"]}, ignore_index=True)
        except:    
            continue
df_2

,artistDisplayName,culture,department,objectBeginDate,objectEndDate,objectID,objectName,period,title
0,Zhang Yuguang,China,Asian Art,1900.0,1968.0,49698.0,Folding fan mounted as an album leaf,,Cat
1,Wang Li,China,Asian Art,1813.0,1879.0,49470.0,Hanging scroll,Qing dynasty (1644–1911),Cat
2,Wang Yun,China,Asian Art,1900.0,1933.0,36221.0,Hanging scroll,,Cat
3,Uto Gyoshi,Japan,Asian Art,1550.0,1599.0,53222.0,Hanging scroll,Muromachi period (1392–1573),Musk Cat
4,,China,Asian Art,960.0,1279.0,60873.0,Head ornament,Song dynasty (960–1279) or later,Head ornament
...,...,...,...,...,...,...,...,...,...
995,,Japan,Asian Art,1820.0,1820.0,48099.0,Water pot and cover,Edo period (1615–1868),Water pot and cover
996,,Japan,Asian Art,1700.0,1833.0,47975.0,Figure,Edo period (1615–1868),Seated Karako (Chinese boy) with a Child
997,,Japan,Asian Art,1800.0,1800.0,48801.0,Vase,Edo period (1615–1868),Vase
998,,Japan,Asian Art,1830.0,1830.0,47974.0,Water pot and cover,Edo period (1615–1868),Water pot and cover
999,,Japan,Asian Art,1860.0,1860.0,47973.0,Vase,Edo period (1615–1868),Vase

In [43]:
df_2.groupby('period')\
    .agg({'objectID' : 'count'})\
    .sort_values('objectID', ascending=False)

                                                    objectID
period
Edo period (1615–1868)                                   237
                                                         179
Qing dynasty (1644–1911)                                  64
Ming dynasty (1368–1644)                                  49
Muromachi period (1392–1573)                              33
...                                                      ...
Ming dynasty (1368–1644), Wanli mark and period...         1
Ming dynasty (1368–1644), Tianqi period (1621–27)          1
Ming dynasty (1368–1644), Chongzhen period (162...         1
Ming dynasty (1368–1644), Chongzen period (1628...         1
Ming dynasty (1368–1644), Xuande mark and perio...         1

[124 rows x 1 columns]